
html, body {
    margin: 0;
}

#root{
    padding: 0 8.5% 0 8.5%;
    background-color: lightgrey;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    min-height: -webkit-fill-available;
    position: absolute;
}

#mainDiv {
    min-height: -webkit-fill-available;
    background-color: white;
    text-align: center;
}

.productsContainer {
    width: 100%;
}

.button {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: white;
    color: red;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 2em;
    border: solid 1px lightgrey;
}

.footer {
    display: inline-block;
    width: 100%
}


