.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerContentBox {
    padding: 40px 20px;
    display: inline-grid;
    width: 245px;
    height: 175px;
    border: solid 1px lightgrey;
    text-align: left;
    margin: 33px 0;
}

.hot_offers {
    font-family: Raleway;
    color: rgb(51, 51, 51);
    text-align: left;
    margin: 0 0 16px 0;
}

.footerContentBox p, li{
    max-height: 35px;
    font-size: 11px;
    font-family: Ubuntu;
    color: rgb(165, 164, 164);
    margin: 0;
}

.offersList {
    padding-left: inherit;
}

.offersList li {
    list-style-image: url("../../media/icons/triangle.png");
    position: relative;
    margin-top: 6px;
}

.offersList span {
    line-height: 2px;
    position: absolute;
    top: 5px;
}

.communicationInfo {
    margin-top: 10px;
}

.communicationInfoImg {
    position: relative;
    display: inline-grid;
    display: -ms-inline-grid;
    float: left;
    bottom: 4px;
}

.communicationInfoImg img {
    margin: 7px 0 7px 0;
    width: 80%;
}

.communicationInfoP {
    position: absolute;
    margin: 5px 0 5px 23px;
}

.communicationInfo p {
    text-indent: 11px;
    line-height: 19px;
}

